body {
  background-color: lightblue;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-top: 60px;
}

input {
  margin-right: 15px;
  height: 30px;
  font-size: 22px;
}
button {
  background-color: rgb(18, 131, 135);
  border: none;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.robotList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

h1 {
  font-size: 40px;
  font-family: fantasy;
  font-weight: 600;
  color: crimson;
}

.robot-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.robot-item {
  display: flex;
  flex-direction: column;
  margin: 10px 6px;
}

.robot-item > span {
  text-align: center;
}
